<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://40.40.0.10:1701/deprov</property>
		<property name="hibernate.connection.username">deprov</property>
		<property name="hibernate.connection.password">deprov</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="model.Grupo"/>
		<mapping class="model.Pessoa"/>
		<mapping class="model.Fabricante"/>
		<mapping class="model.Modelo"/>
		<mapping class="model.Cor"/>
		<mapping class="model.Tipo"/>
		<mapping class="model.Pericia"/>
		<mapping class="model.Seguro"/>
		<mapping class="model.Veiculo"/>
		<mapping class="model.Ocorrencia"/>
		<mapping class="model.Foto"/>


	</session-factory>
</hibernate-configuration>