<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean id="appUserDetailsService" class="pcrn.security.AppUserDetailsService" />

	<beans:bean id="exceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler" />
		<beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
	</beans:bean>

	<beans:bean id="jsfAccessDeniedHandler" class="pcrn.security.JsfAccessDeniedHandler">
		<beans:property name="loginPath" value="/AcessoNegado.xhtml" />
		<beans:property name="contextRelative" value="true" />
	</beans:bean>

	<beans:bean id="authenticationEntryPoint"
		class="pcrn.security.JsfLoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/Login.xhtml" />
		<beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</beans:bean>

	<beans:bean id="jsfRedirectStrategy" class="pcrn.security.JsfRedirectStrategy" />

	<http pattern="/Login.xhtml" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />


	<http auto-config="false" use-expressions="true">
		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />
	
		<intercept-url pattern="/site/Home.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/AcessoNegado.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/resources/**" access="isAuthenticated()" />
		
		<intercept-url pattern="/site/Cor/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Cor/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Cor/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Grupo/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Grupo/Edicao/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Grupo/Novo/**" access="hasAnyRole('ADMINISTRADOR')"  />
		
		<intercept-url pattern="/site/Pessoa/Consulta/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Pessoa/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Pessoa/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Pessoa/MudarSenha/**" access="isAuthenticated()" />
		
		<intercept-url pattern="/site/ExameVeicular/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/ExameVeicular/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/ExameVeicular/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Fabricante/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Fabricante/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Fabricante/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Foto/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Foto/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Foto/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Local/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Local/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Local/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Modelo/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Modelo/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Modelo/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Ocorrencia/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Ocorrencia/Edicao/**" access="hasAnyRole('ADMINISTRADOR')"  />
		
		<intercept-url pattern="/site/Seguro/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Seguro/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Seguro/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Situacao/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Situacao/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Situacao/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Tipo/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Tipo/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Tipo/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/site/Veiculo/Consulta/**" access="hasAnyRole('ADMINISTRADOR')"  />
		<intercept-url pattern="/site/Veiculo/Edicao/**" access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/site/Veiculo/Novo/**" access="hasAnyRole('ADMINISTRADOR')" />
		
		<intercept-url pattern="/**" access="denyAll" />

		
		<form-login login-page="/Login.xhtml"
			authentication-failure-url="/Login.xhtml?invalid=true"
			default-target-url="/" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout"
			invalidate-session="true" />

	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>